@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .portfolio-item__name {
    opacity: 0;
    transition: all ease 250ms;
    transform: scale(0.2);
  }

  .portfolio-item:hover > .portfolio-item__name {
    opacity: 1;
    transform: scale(1);
  }
}
